config:
  graphic:
    horizontal_sync: true
    window_size_width: 1920
    window_size_height: 1080
    shader_files:
      vertex_shader: "assets/shaders/shader_vertex_2d.cso"
      instanced_vertex_shader: "assets/shaders/instanced_shader_vertex_2d.cso"
      pixel_shader: "assets/shaders/shader_pixel_2d.cso"
  map:
    default_map: "forest1"
    map:
      files:
        - "map/forest1.tmx"
      animate_files:
        - "tbd"